/* BEGIN ALL-PAGE CSS */

body {
    background-color: #bac1b8;
    margin: 0;
}

@font-face {
    font-family: 'geometosregular';
    src: url('fonts/geometos/geometos.eot');
    src: url('fonts/geometos/geometos.svg#geometosregular') format('svg'),
         url('fonts/geometos/geometos.ttf') format('ttf'),
         url('fonts/geometos/geometos.woff') format('woff');
}

.nav {
    background-color: #2b303a;
    border-bottom: 0.13vw solid #005377;
    box-shadow: 0 0.13vw 0.65vw rgba(0, 0, 0, 0.35);
    height: 5.3vw;
    overflow: hidden;
    padding: 1.5vw 1.75vw;
    position: relative;
    z-index: 2;
}

.nav img {
    width: 15vw;
}

.links {
    float: right;
    margin-top: 0.85vw;
}

.nav a {
    color: #ffffff;
    display: block;
    float: left;
    font-family: 'geometosregular', Arial, sans-serif;
    font-size: 2vw;
    line-height: auto;
    margin-left: 0.6vw;
    margin-right: 1.2vw;
    padding: 0.7vw 1vw;
    text-align: center;
    text-decoration: none;
}

.nav a:hover {
    background-color: #005377;
    border-radius: 0.6vw;
}

/*.subnav {
    background-color: #06a77d;
    box-shadow: 0 0.13vw 0.65vw rgba(0, 0, 0, 0.35);
    display: none;
    height: 2.6vw;
    overflow: hidden;
    padding: 0.5vw 1.75vw;
    position: relative;
    z-index: 1;
}*/

.navtab {
    background-color: #06a77d;
    box-shadow: 0 0.13vw 0.65vw rgba(0, 0, 0, 0.35);
    display: none;
    height: 2.5vw;
    overflow: hidden;
    padding: 0.4vw 1.75vw;
    position: relative;
    z-index: 1;
}

.navtab span {
    color: #ffffff25;
    display: block;
    float: left;
    font-family: 'geometosregular', Arial, sans-serif;
    font-size: 6vw;
    margin: -1.95vw 0 0 -0.3vw;
    text-decoration: none;
    user-select: none;
}

.sublinks {
    float: right;
}

.sublinks a {
    color: #ffffff;
    display: block;
    float: left;
    font-family: 'geometosregular', Arial, sans-serif;
    font-size: 1.7vw;
    line-height: auto;
    margin-left: 0.6vw;
    margin-right: 1.4vw;
    padding: 0.3vw 1vw;
    text-align: center;
    text-decoration: none;
}

.subnav a:hover {
    background-color: #ffffff50;
    border-radius: 0.6vw;
}

/* END ALL-PAGE CSS */