/* BEGIN ALL-PAGE CSS */

body {
    background-color: #bac1b8;
    margin: 0;
}

@font-face {
    font-family: 'geometosregular';
    src: url('fonts/geometos/geometos.eot');
    src: url('fonts/geometos/geometos.svg#geometosregular') format('svg'),
         url('fonts/geometos/geometos.ttf') format('ttf'),
         url('fonts/geometos/geometos.woff') format('woff');
}

.nav {
    background-color: #2b303a;
    border-bottom: 0.13vw solid #005377;
    box-shadow: 0 0.13vw 0.65vw rgba(0, 0, 0, 0.35);
    overflow: hidden;
    padding: 1.75vw 2.25vw;
}

.nav img {
    width: 16vw;
}

.nav .links {
    float: right;
    margin-top: 1.5vw;
}

.nav a {
    color: #ffffff;
    display: block;
    float: left;
    font-family: 'geometosregular', Arial, sans-serif;
    font-size: 1.85vw;
    line-height: auto;
    margin-left: 1vw;
    margin-right: 2vw;
    padding: 0.35vw 1.15vw;
    text-align: center;
    text-decoration: none;
}

.nav a:hover {
    background-color: #005377;
    color: #ffffff;
}